* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cart {
    box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.699);
    border-radius: 10px;
    max-width: 600px;
    padding: 15px 15px 25px 15px;
    margin: auto;
}

.cart h3 {
    margin: 10px 10px 20px 10px;
}

.itemInfo {
    list-style-type: none;
    background-color: rgba(128, 0, 128, 0.315);
    padding: 10px;
    border-radius: 10px;
    margin: 10px 20px 10px 20px;
}

.firstRow {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.secondRow {
    display: flex;
    flex-direction: column;
    text-align: end;
    margin-top: 15px;
    margin-right: 5px;
}

.pricePerItem {
    margin-top: 10px;
}

.itemAmount {
    display: flex;
    align-items: center;
}

.itemBtns {
    margin-left: 5px;
}

.itemBtns button {
    cursor: pointer;
    border: none;
    background-color: purple;
    color: white;
    padding: 5px 15px;
    margin: 3px;
    border-radius: 8px;
    transition: 0.2s;
}

.itemBtns button:hover {
    color: black;
}