/*.header {*/
/*    display: flex;*/
/*    align-items: center;*/
/*    justify-content: end;*/
/*    background-color: purple;*/
/*    font-size: 20px;*/
/*    padding: 5px 15px 5px 5px;*/
/*}*/
nav.bg-body-tertiary {
    margin-bottom: 70px;
}

.header-nav-link {
    text-decoration: none;
    transition: 0.2s;
    color: black;
}

/*.header a {*/
/*    color: white;*/
/*    text-decoration: none;*/
/*    padding: 15px;*/
/*    transition: 0.2s;*/
/*}*/

/*.header a:hover,*/
/*.header a.active {*/
/*    color: black;*/
/*}*/